			div {
			border: 0px solid red;
			}
			body.not-logged-in #guess_form {
				display: none;
			}
			body.logged-in #login_form {
				display: none;
			}
			div.positioning {
				width: 95%;
				margin: auto;
			}
			.content {
				margin: auto;
				padding: 10px;
			}	
			.left {
				width: 70%;
				display: table-cell;
			}
			.right {
				display: table-cell;
			}
			.header {
				background-color: #ecf2f8;
				height: 80px;
				padding: 10px;
				display: table;
				width: 100%;
				}
			.valign {
				display:table-cell;
				vertical-align:middle
			}	
			.container {
				display: flex;
			}	
			div.headerline {
				background-color: #3973ac; 
				height: 10px;
			}